<dialog class="modal" id="alert-modal" aria-labelledby="alert-modal-title" aria-describedby="alert-modal-body" data-bind="modal: {submit: $root.modal.ok}">
    <section>
        <header>
            <h2 id="alert-modal-title" data-localise="modal.alert"></h2>
        </header>

        <div class="modal-body" id="alert-modal-body"></div>

        <footer>
            <form method="dialog">
                <button autofocus class="ok btn primary" data-localise="modal.ok"></button>
            </form>
        </footer>
    </section>
</dialog>

