<dialog class="modal" id="confirm-modal" aria-labelledby="confirm-modal-title" aria-describedby="confirm-modal-body" data-bind="modal: {submit: $root.modal.ok, cancel: $root.modal.cancel}">
    <section>
        <header>
            <h2 id="confirm-modal-title" data-localise="modal.confirm"></h2>
        </header>
        <div class="modal-body" id="confirm-modal-body">
        </div>
        <footer>
            <form method="dialog">
                <button autofocus value="cancel" class="cancel btn" value="cancel" data-localise="modal.cancel"></button>
                <button class="ok btn primary" data-localise="modal.ok"></button>
            </form>
        </footer>
    </section>
</dialog>
