<dialog class="modal" id="confirm-end-exam-modal" aria-labelledby="confirm-end-exam-modal-title" aria-describedby="confirm-end-exam-modal-body" data-bind="modal: {submit: $root.modal.ok, cancel: $root.modal.cancel}">
    <form method="dialog">
        <header>
            <h4 id="confirm-end-exam-modal-title" data-localise="modal.confirm"></h4>
        </header>
        <div class="modal-body" id="confirm-end-exam-modal-body" data-bind="with: $root.exam">
            <p id="confirm-end-exam-modal-message"></p>
            <form class="form-inline" data-bind="submit: $root.modal.ok">
                <label for="confirm-end-text-input" id="confirm-end-exam-modal-input-message"></label>
                <input autofocus id="confirm-end-text-input" type="text" data-bind="textInput: confirmEndHandler.value, autosize: confirmEndHandler.value">
                <span class="password-feedback feedback-icon" data-bind="css: confirmEndHandler.feedback().iconClass, attr: {title: confirmEndHandler.feedback().title}"></span>
            </form>
        </div>
        <footer>
            <button value="cancel" class="cancel btn" data-localise="modal.cancel"></button>
            <button  class="ok btn primary" data-bind="disable: !confirmEndHandler.valid(), css: confirmEndHandler.feedback().buttonClass" data-localise="modal.end exam button"></button>
        </footer>
    </form>
</dialog>
