body {
	font-size: 100%;
}

a:hover {
	color: #666;;
}

.area {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 1em;
}

.area.lefthalf {
	float: left;
	width:50%;
}

.area.righthalf {
	float: left;
	width: 50%;
}

#tryJME .expression {
	text-align:center;
}

#tryJME .output {
	text-align: center;
}

#tryJME #expression {
	font-family: monospace;
}

#tryJME #display {
}

#tryJME .error {
	color: red;
	font-style: italic;
}

#documentation > ul {
    list-style-type: none;
    padding-left: 0;
    background: #eee;
}
#documentation > ul li {
    display:  inline-block;
    background: #a2d1f0;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    font-size: 1.3em;
}

#documentation > .tab {
	font-size: .9em;
}

#functions .list {
	margin-top: 1.5em;
}

#functions .list,#functions .defs {
	list-style-type: none;
}

.function {
	margin-bottom: 1em;
}

.function .name {
	font-size: 1.2em;
	font-weight: bold;
}

.function code {
	font-size: 1.25em;
	background: #eee;
	font-family: monospace;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.function .description {
	margin-left: 1em;
	display:inline-block;
}

.example:hover {
	cursor: pointer;
}
