html, body {
	height: 100%;
}

body {
	font-size: 100%;
}

.allcontainer {
	min-height: 100%;
	position: relative;
	text-align: center;
}

.content {
	padding-bottom: 1em;
	display: inline-block;
	text-align: left;
}

.header {
	margin-bottom: 1em;
	background: #a2d1f0;
	border-bottom: 1px solid #999;
	text-align: left;
}
.header h1 {
	margin: 0;
	text-align: center;
}

.header > ul {
    list-style-type: none;
    padding-left: 1em;
}

.header > ul li {
    display:  inline-block;
    background: #eee;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

.footer {
	position: absolute;
	bottom: 0;
	margin-top: 2em;
	background: #a2d1f0;
	width: 100%;
	padding: 0.5em 1em 0.1em;
	border-top: 1px solid #999;
}

a:hover {
	color: #666;;
}

.area {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 1em;
}

.area.lefthalf {
	float: left;
	width:50%;
}

.area.righthalf {
	float: left;
	width: 50%;
}

