body {
	font-size: 100%;
}

.header {
	margin-bottom: 1em;
	background: #a2d1f0;
	border-bottom: 0.15em solid #999;
}
.header > ul {
    list-style-type: none;
    padding-left: 1em;
}

.header > ul li {
    display:  inline-block;
    background: #eee;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

a:hover {
	color: #666;;
}

.area {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 1em;
}

.area.lefthalf {
	float: left;
	width:50%;
}

.area.righthalf {
	float: left;
	width: 50%;
}

