:root {
    --opposite-background-color: 0, 0, 0;
    --base-text-size: 18px;
    --text-size: 1;
    --line-height: 1.5em;

    --main-color: #a2d1f0;

    --main-font: sans-serif;

    --readable-width: 80ch;

    --hr-color: #eeeeee;

    --spacing: 1rem;
    --half-space: calc(0.5 * var(--spacing));
    --third-space: calc(1 / 3 * var(--spacing));
    --two-thirds-space: calc(2 / 3 * var(--spacing));
    --double-space: calc(2 * var(--spacing));
    --quad-space: calc(4 * var(--spacing));

    --text-pad: calc(0.1 * var(--spacing));
    --double-text-pad: calc(2 * var(--text-pad));
    --quad-text-pad: calc(4 * var(--text-pad));

    --transition-duration: 0.5s;
    --half-transition: calc(0.5 * var(--transition-duration));
    --double-transition: calc(2 * var(--transition-duration));
    --quad-transition: calc(4 * var(--transition-duration));

    --background-color: white;
    --text-color: black;
    --link-color: #0000ee;
    --help-color: #333333;

    --top-nav-bg: #a2d1f0;
    --top-nav-border: #85c3eb;
    --top-nav-color: black;
    --top-nav-muted-color: #444444;

    --button-radius: 0.2em;

    /* Success: green
     * Warning: orange
     * Danger: red
     * Muted: grey
     * Info: blue
     */

    --border-color: currentColor;

    /* A color to mix with the background color to get the border color. */
    --off-mix-color: black;
    --highlight-mix-color: white;
    --highlight-color-mix: var(--highlight-mix-color) 40%;
    --darken-mix-color: black;
    --darken-color-mix: var(--darken-mix-color) 40%;
    --border-color-mix: var(--off-mix-color) 20%;

    --inset-shadow-color: rgba(0, 0, 0, 0.075);

    --answered-bg-color: hsl(204, 72%, 95%);
    --incorrect-border-color: hsl(0, 50%, 50%);
    --has-warnings-bg-color: hsl(30, 20%, 95%);

    --success-color: #008000;
    --warning-color: #996700;
    --danger-color: #d40000;
    --muted-color: #636363;
    --info-color: #0c6dcf;

    --has-success-border-color: #3c763d;
    --has-error-border-color: #a94442;

    --input-bg: #f8f8f8;

    --answer-input-border-color: #dddddd;
    --answer-input-bottom-border-color: #34444f;

    --button-text-color: black;
    --button-border-color: #b0b0b0;
    --button-background-color: #e9e9e9;

    --primary-button-bg: #76f2ff;
    --primary-button-color: black;
    --primary-button-border-color: #00a6bf;
    --success-button-bg: #008000;
    --success-button-color: white;
    --success-button-border-color: #2f9a2b;
    --warning-button-bg: #ffc251;
    --warning-button-color: black;
    --warning-button-border-color: #e2a62e;
    --danger-button-bg: #be0000;
    --danger-button-color: white;
    --danger-button-border-color: #650000;
    --muted-button-bg: #636363;
    --muted-button-color: white;
    --muted-button-border-color: #444444;
    --info-button-bg: #324fad;
    --info-button-color: white;
    --info-button-border-color: #060060;

    --alert-bg: #f5f5f5;
    --alert-color: var(--text-color);

    --code-color: #4b504e;
    --code-bg: #f9f2f4;

    --kbd-color: #ffffff;
    --kbd-bg: #333333;

    --pre-color: var(--code-color);
    --pre-bg: var(--code-bg);
    --pre-border: #cccccc;

    --success-alert-bg: #7bffac;
    --success-alert-color: #003400;
    --warning-alert-bg: hsl(30, 20%, 95%);
    --warning-alert-color: #5e2e00;
    --danger-alert-bg: #be0000;
    --danger-alert-color: white;
    --muted-alert-bg: #e9e9e9;
    --muted-alert-color: black;
    --info-alert-bg: #deeeff;
    --info-alert-color: #002e5b;

    --th-bg: #e6e6e6;
    --td-bg: #f8f8f8;;
    --td-stripe-bg: #f9f9f9;
    --td-warning-color: #996700;
    --table-border-color: #cccccc;

    --faint-mix-amount: 5%;

    --score-correct-color: var(--success-color);
    --score-partial-color: #bc8929;

    --lightbox-bg-color: hsla(0, 0%, 50%, 95%);

    --shadow-color: hsla(0, 0%, 0%, 30%);

    --nav-highlight-bg: #ccffcc;

}

* {
    --mixed-border-color: color-mix(in oklch, var(--background-color), var(--border-color-mix));
    --faint-line-color: color-mix(in oklch, var(--background-color), var(--text-color) 10%);
    --danger-alert-border: color-mix(in oklch, var(--danger-alert-bg),  var(--border-color-mix));
    --faint-bg: color-mix(in oklch, var(--background-color), var(--off-mix-color) var(--faint-mix-amount));
    --faint-border: color-mix(in oklch, var(--faint-bg), var(--border-color-mix));
    --main-darker: color-mix(in oklch, var(--main-color), var(--off-mix-color) 3%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --faint-mix-amount: 30%;
        --off-mix-color: white;
        --border-color-mix: var(--off-mix-color) 30%;
        --background-color: black;
        --text-color: white;
        --link-color: #7cd6ff;
        --help-color: #dbdbdb;

        --main-color: #213f52;

        --top-nav-bg: #213f52;
        --top-nav-border:#19465f;
        --top-nav-color: white;
        --top-nav-muted-color: #d8d8d8;
        --success-color: #7cffad;
        --warning-color: #fdc04f;
        --danger-color: #ffbaad;
        --muted-color: #cacbcd;
        --info-color: #b8c9ff;

        --input-bg: #111111;

        --button-color: white;
        --button-border-color: #585858;
        --button-bg: #333333;

        --primary-button-bg: #00626f;
        --primary-button-color: white;
        --primary-button-border-color: #008996;
        --success-button-bg: #006400;
        --success-button-color: white;
        --success-button-border-color: #008000;
        --warning-button-bg: #bd4800;
        --warning-button-color: white;
        --warning-button-border-color: #a93c00;
        --danger-button-bg: #be0000;
        --danger-button-color: white;
        --danger-button-border-color: #650000;
        --muted-button-bg: #636363;
        --muted-button-color: white;
        --muted-button-border-color: #444444;
        --info-button-bg: #324fad;
        --info-button-color: white;
        --info-button-border-color: #060060;

        --alert-bg: #191919;
        --alert-color: var(--text-color);

        --success-alert-bg: #005200;
        --success-alert-color: #7cffad;
        --warning-alert-bg: #9b2f00;
        --warning-alert-color: #fff486;
        --danger-alert-bg: #820000;
        --danger-alert-color: #ffdfd1;
        --muted-alert-bg: #191919;
        --muted-alert-color: #eeeeee;
        --info-alert-bg: #003469;
        --info-alert-color: #e6f8ff;

        --th-bg: #222222;
        --td-bg: #1f1f1f;
        --table-border-color: #666666;

        --score-correct-color: #00e254;
        --score-partial-color: #d1992e;

        --nav-highlight-bg: #00640f;
    }
}

@media (prefers-reduced-motion: reduce) {
    --transition-duration: 0s;
}
