@layer no-stylesheet, variables, base, theme, question, force;

@layer variables {
    :root, #style-modal {
        --base-text-size: 18px;
        --text-size: 1;
        --line-height: 1.5em;

        --border-width: thin;

        --main-font: sans-serif;

        --readable-width: 80ch;

        --content-max-width: calc(1.3 * var(--readable-width));

        --spacing-scale: 1;
        --spacing: calc(1rem * var(--spacing-scale));
        --half-space: calc(0.5 * var(--spacing));
        --third-space: calc(1 / 3 * var(--spacing));
        --two-thirds-space: calc(2 / 3 * var(--spacing));
        --double-space: calc(2 * var(--spacing));
        --quad-space: calc(4 * var(--spacing));

        --text-pad: calc(0.1 * var(--spacing));
        --double-text-pad: calc(2 * var(--text-pad));
        --quad-text-pad: calc(4 * var(--text-pad));

        --transition-duration: 0.5s;
        --half-transition: calc(0.5 * var(--transition-duration));
        --double-transition: calc(2 * var(--transition-duration));
        --quad-transition: calc(4 * var(--transition-duration));

        --button-radius: 0.2em;
    }

    @media (prefers-reduced-motion: reduce) {
        --transition-duration: 0s;
    }
}
