
html{	
	font-family: sans-serif;
}

/*main template */
.mainDiv{ 
	clear: both;
	overflow: hidden;
}

#preview {
	font-family: serif;
	display: inline-block;
	font-size: 120%;
}

.btn{
	margin:.4em 0;
	width: 7em;
	/*border: 1px solid #999999*/;
}

#progressbar {
	position:relative;
	height:2em;
	width:10em;
	border: 1px solid #1f4564;
}
#progressbar p {
	position:absolute;
	left:0.3em;
	top:0.15em;
}

#completed {
	position:absolute;
	left:0;
	top:0;
	height:1.7em;
	margin: 0.15em;
	width:0;
	background-color: #a2d1f0;
	overflow:hidden;
}

#completed p {
	position:absolute;
	color:#fff;
	left:0.15em;
	top:0;
}

/* title bar */
.titleBar{
	position:relative;
	height:75px;
}
.logo{
	position:absolute;
	top:0;
	left:0;
}

#examBanner{
	text-align:right;
	font-size: 2em;
	font-weight: bold;
}

.timeBox{
	text-align:center;
}
#stopWatch {
	font-size: 1em;
	font-weight: bold;
	color: #1F4564;
}
.timeBox p {
	margin: 0.1em 0;
}


.navBar{
	zoom: 1;
	margin-left: auto;
	margin-right: auto;
	padding:0.2em;
	background: #A2D1F0;
	border: 1px solid #999999;
	line-height:2em;
}

.leftNav {
	float:left;
}
.rightNav {
	float:right;
}
.menuEndBtn {
	text-align:center;
}

.titleBits {
	text-align:center;
}

#questionNameDisplay{
	font-size:2em;
}

.mainDisplay {
	margin: 0 0;
	overflow-x:hidden;
}

#infoDisplay {
	width:75%;
	margin: 1em auto;
}

.submitDiv {
	text-align:center;
	margin: -0.4em auto;
}
#submitBtn {
	width: 9em;
}
#marks {
	display:inline;
}
#marks #feedback {
	width:25px;
	height:25px;
	padding: 0.2em 0;
}
.questionSelector #marks #feedback {
	padding: 0;
}

.questionSelector #name {
	float:left;
	width: 12em;
}

.questionSelector #marks {
	float:right;
}

#marks #feedback img {
	visibility:hidden;
}
#marks #score {
	display:none;
}

#feedbackMessage {
	clear:both;
	text-align:center;
	padding: 0.5em 0.5em 0 0;
	border: 1px solid #a2d1f0;
}


/* column container */
#questionContainer {
	position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	background:#A2D1F0;
}

/* 2 column left menu settings */
#questionContainer .colwrap {
	float:left;
	width:200%;
	position:relative;
	left:13em;
	background:#fff;
}
#questionContainer .col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:13em;
	padding-bottom:1em;
}

#questionDisplay{
	margin:1em 0.5em 0 14.5em;
	position:relative;
	right:100%;
	/*overflow:hidden;*/
}
#questionContainer .questionMenu {
	float:left;
	width:12em;
	position:relative;
	right:12.5em;
}

.carouselBtn {
	text-align:center;
	margin: 0 auto;
	width:100%;
}

.questionList {
	overflow: hidden;
	max-height: 20em;
}

#questionList {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.questionSelector-hidden {
	display:none; 
}
.questionSelector {
	display:inline-block;
	font-size:0.8em;
}

.questionSelector #feedback {
	width:25px;
	height:25px;
	float:right;
}

.questionSelector #score {
	float:right;
}

.tick {
	background-image:url('tick.png');
}

.cross {
	background-image:url('cross.png');
}
.partial {
	background-image:url('percent.png');
}


.qs-selected {
	background: #94B4F7;
}

.examScore {
	background: #fff;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
}

.adviceNav {
	margin-left: 1em;
}

.adviceNav .btn {
	margin: 0 0.2em;
}

#adviceContainer {
	clear:both;
}

#adviceDisplay ol,ul {
	margin-left:1em;
}

/* alert / confirm box */
#warningDisplay {
	background: red;
	position:absolute;
	width:100%;
	height:100%;
}

#warningDisplay .errorBar {
	text-align:center;
}

#warningDisplay #warningMessage {
	max-width:75%;
	margin: 1em auto;
	background: white;
}


/* front/exit pages */
.startBtn {
	text-align:center;
}

.exitBtn {
	text-align: center;
}

.rtd {
	text-align:right;
}
.qtd {
	text-align:center;
}

.resultrow td {
	font-weight:bold;
	font-size: 1.5em;
}


/* question bits */

#questionDisplay table{
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.statement {
	margin: 1em 0;
	padding-top: 0.2em;
	padding-left: 1em;
	padding-bottom: 0.1em;
	background: #cfc;
}
.part {
	margin: .5em 0;
}

div.part {
	margin-left: 1em;
}

.partheader {
	clear:both;
}


.steps {
	display:none;
	border: 1px solid;
	padding: 0.5em 0.5em;
	/*float:right;*/
}

.advice {
	background: #cfc;
	border: 1px solid;
	margin:1em 0;
	display:none;
}
.multiplechoice li {
	list-style:none;
	padding-right: 2em;
}
.multiplechoice p {
	display:inline;
}
.question {
	border:1px;
}

.warningcontainer {
	display:none;
}

.partwarning {
	color:red;
	font-size: 1em;
	position:absolute;
	background-color: #ddd;
	z-index: 1;
	margin-left: 0.2em;
	padding: 0.2em;
	display:none;
	max-width: 20em;
}
.partwarning p {
	margin: 0.1em;
}

.part #partFeedback {
	background: #A2D1F0;
	border: 1px solid #999999;
	padding: 0.1em 0.5em;
	float:right;
}

.part #marks {
	font-weight: bold;
}


.question td, #adviceDisplay td {
	text-align:right;
}

input[type=text],input[type=number] {
	width: 60px;
	text-align: center;
}

.mathPreview {
	cursor: pointer; cursor: hand;
	color: #005;
}

.jme {
	z-index: 9999
}

div.lemma {
	margin-left: 2em;
	font-family: serif;
	font-size: 115%;
}
div.lemma p {
	font-style: italic;
	margin-left: 1em;
}

.monospace {
	font-family: monospace;
	font-size: 130%;
	background: #f5f5f5;
	padding: 0em 0.2em;
}


/* jquery.impromptu dialog boxes */

.jqifade{
	position: absolute;
	background-color: #aaaaaa;
}
div.jqi{
	max-width: 40%;
	min-width: 10%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #ffffff;
	font-size: 11px;
	text-align: left;
	border: solid 1px #eeeeee;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 7px;
}
div.jqi .jqicontainer{
	/*font-weight: bold;*/
}
div.jqi .jqiclose{
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: default;
	color: #bbbbbb;
	font-weight: bold;
}
div.jqi .jqimessage{
	padding: 10px;
	line-height: 20px;
	color: #444444;
	font-weight: normal;
	font-size: 150%;
}
div.jqi .jqibuttons{
	text-align: right;
	padding: 5px 0 5px 0;
	border: solid 1px #eeeeee;
	background-color: #f4f4f4;
}
div.jqi button{
	padding: 3px 10px;
	margin: 0 10px;
	background-color: #2F6073;
	border: solid 1px #f4f4f4;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}
div.jqi button:hover{
	background-color: #728A8C;
}
div.jqi button.jqidefaultbutton{
	background-color: #BF5E26;
}
.jqiwarning .jqi .jqibuttons{
	background-color: #BF5E26;
}

@media print {
	.logo img {
		height: 50%;
	}
	.navBar {
		display:none;
	}
	#questionContainer .colwrap {
		width: 100%;
		left: initial;
	}
	#questionContainer .col1wrap {
		width: 100%;
		right: auto;
		padding: initial;
		position:initial;
	}
	#questionDisplay {
		margin:initial;
		right:initial;
	}
	#partFeedback {
		display: none;
	}

	.questionMenu {
		display: none;
	}

	input[type="text"], input[type="number"] {
		border:none;
		border-bottom: 1px solid;
	}
	.btn {
		display: none;
	}
}
