<div id="generator">
    <form class="controls" id="print" data-bind="visible: status() == 'done'">
        <button type="button" id="printButton" data-bind="click: print"><span data-bind="visible: numExams()==1" data-localise="worksheet.print single"></span><span data-bind="visible: numExams()!=1" data-localise="worksheet.print several"></span></button>

        <p data-localise="worksheet.show sheet"></p>

        <ul id="sheettype" data-bind="foreach: sheetTypes">
            <li><label><input type="radio" name="sheettype" data-bind="checked: $parent.sheetType, checkedValue: $data"/><span data-bind="text: label"></span></label></li>
        </ul>

        <!-- ko if: numExams() > 1 -->
        <label data-localise="worksheet.show sheet" id="shown-id-label" for="shown-id"></label>
        <div>
            <input type="range" id="shown-id" data-bind="textInput: shown_id, attr: {min: offset(), max: parseInt(offset())+parseInt(numExams())-1}">
            <input type="number" aria-describedby="shown-id-label" id="shown-id" data-bind="textInput: shown_id, attr: {min: offset(), max: parseInt(offset())+parseInt(numExams())-1}">
        </div>
        <!-- /ko -->

        <button type="button" data-bind="visible: !show_settings(), click: reconfigure" data-localise="worksheet.reconfigure"></button>
    </form>

    <form class="controls" data-bind="visible: status() == 'configuring'">
        <label for="num-exams" data-localise="worksheet.number of exams to generate"></label>
        <input type="number" id="num-exams" data-bind="textInput: numExams" min="1">

        <label for="start-id" data-localise="worksheet.starting with id"></label>
        <input type="number" id="start-id" data-bind="textInput: offset"/>

        <button type="submit" data-bind="click: generate" data-localise="worksheet.generate"></button> 
    </form>

    <form class="controls" data-bind="visible: status() == 'done'">
        <label for="show-exam-id" data-localise="worksheet.show exam id"></label>
        <input type="checkbox" id="show-exam-id" data-bind="checked: show_exam_id"/>

        <label for="answersheet-show-question-content" data-localise="worksheet.answersheet show question content"></label>
        <input type="checkbox" id="answersheet-show-question-content" data-bind="checked: answersheet_show_question_content"/>

        <label for="break-between-questions" data-localise="worksheet.page break between questions"></label>
        <input type="checkbox" id="break-between-questions" data-bind="checked: break_between_questions"/>

        <label for="page-margins" data-localise="worksheet.page margins"></label>
        <div class="input-group" id="margins-input" data-bind="with: style_customiser">
            <input localise-aria-label="worksheet.top" type="number" id="page-margin-top" min="0" data-bind="textInput: style['--page-margin-top']">
            <input localise-aria-label="worksheet.left" type="number" id="page-margin-left" min="0" data-bind="textInput: style['--page-margin-left']">
            <input localise-aria-label="worksheet.right" type="number" id="page-margin-right" min="0" data-bind="textInput: style['--page-margin-right']">
            <input localise-aria-label="worksheet.bottom" type="number" id="page-margin-bottom" min="0" data-bind="textInput: style['--page-margin-bottom']">
        </div>

        <button class="btn center-block thin-button display-options force-original-color" type="button" data-bind="click: Numbas.display.showStyleModal" data-localise="control.style options"></button>
    </form>

    <div id="progress" data-bind="visible: status()=='working'">
        <label for="generator-progress" data-localise="worksheet.generating exams"></label>
        <progress id="generator-progress" min="0" data-bind="value: progress, attr: {max: numExams()}, text: progressText">
            <span data-bind="text: progressText"></span>
        </progress>
        <span data-bind="text: progressText"></span>
        <button type="button" data-bind="click: cancel_generation" data-localise="modal.cancel"></button>
    </div>
</div>
