<!-- side menu, slides out on narrow screens -->
<nav id="navMenu" class="navmenu navmenu-default question-nav" role="navigation">

    <div id="navMenu-wrapper">

        <div class="navmenu-header">
            <div class="navmenu-brand">
                {% include "logo.html" %}
            </div>
            <h1 class="exam-name navmenu-brand" data-bind="text: exam.settings.name, typeset: exam.settings.name"></h1>
            <button type="button" class="navbar-toggle navbar-btn btn default" aria-controls="navMenu">
                {% include "close.svg" %}
            </button>
            <!--
            <button class="btn default" id="hide-nav-menu" data-bind="click: hideNavMenu">
                <span aria-hidden="true">x</span>
                <span class="sr-only" data-localise="control.toggle navigation menu"></span>
            </button>
            -->
        </div>

        <!-- ko if: numQuestions() > 1 -->
        <label class="sr-only" for="exam-progress" data-localise="exam.progress"></label>
        <progress id="exam-progress" data-bind="attr: {max: numQuestions(), value: questionsAttempted(), title: questionsAttemptedDisplay}, text: questionsAttemptedDisplay"></progress>
        <!-- /ko -->

        <ul id="questionList" class="nav navmenu-nav" role="tablist" aria-orientation="vertical" data-bind="tablist: true">
            <li class="introduction" data-bind="visible: exam.hasIntro, css: {active: $root.exam().infoPage()=='introduction'}">
                <a href="#" role="tab" data-bind="click: Numbas.controls.showIntroduction, attr: {'aria-current': $root.exam().infoPage()=='introduction' ? 'step' : false, tabindex: $root.exam().infoPage()=='introduction' ? 1 : -1}" data-localise="control.show introduction"></a>
           </li>
            <!-- ko foreach: question_groups -->
                <!-- ko if: $root.exam().showQuestionGroupNames -->
                <li class="question-group-header" data-bind="visible: show_name">
                    <h2 data-bind="text: name, typeset: name"></h2>
                </li>
                <!-- /ko -->
                <!-- ko foreach: questions -->
                <li class="questionSelector" data-bind="visible: visible, css: {active: $root.exam().currentQuestion()==$data}">
                    <a href="#" role="tab" data-bind="click: Numbas.controls.makeQuestionJumper(question.number), attr: {'aria-current': isCurrentQuestion() ? 'step' : false, tabindex: isCurrentQuestion() ? 0 : -1}">
                        <div class="question-info">
                            <span class="feedback-icon" data-bind="css: scoreFeedback.iconClass, attr: scoreFeedback.iconAttr" aria-hidden="true"></span>
                            <span class="name" data-bind="text: displayName"></span>
                            <span class="sr-only" data-bind="text: scoreFeedback.iconAttr().title"></span>
                            <span class="score" data-bind="html: scoreFeedback.message"></span>
                        </div>
                        <div class="messages">
                            <div class="answered-state" data-bind="">
                                <span data-bind="text: scoreFeedback.answeredString"></span>
                            </div>
                            <div data-bind="visible: isDirty" class="dirty-message">
                                <span class="warning-icon icon-exclamation-sign"></span>
                                <span data-localise="question.selector.unsubmitted changes"></span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- /ko -->
            <!-- /ko -->
            <!-- total exam score display -->
            <li class="examScore fake-nav-link" data-bind="visible: showActualMark">
                <span class="pull-left" data-localise="control.total"></span> 
                <span class="pull-right" id="examScore" data-bind="html: examScoreDisplay"></span>
            </li>
        </ul>

        <div class="stopWatch" data-bind="visible: displayTime">
            <span class="" data-localise="timing.time remaining"></span>
            <time class="time" data-bind="text: displayTime"></time>
        </div>

        <menu class="nav navmenu-nav menuButtons">
            <li><button class="btn default navbar-btn center-block thin-button" type="button" data-bind="click: Numbas.display.showStyleModal" data-localise="control.style options"></button></li>
            <li data-bind="visible: allowPause && mode()=='normal'"><button class="btn pdefault navbar-btn center-block thin-button" id="pauseBtn" data-localise="control.pause" data-bind="click: Numbas.controls.pauseExam"></button></li>
            <li data-bind="visible: mode()=='normal'"><button class="btn danger navbar-btn center-block" id="endBtn" data-localise="control.end exam" data-bind="click: Numbas.controls.endExam"></button></li>
            <li data-bind="visible: mode()=='review'"><button class="btn default navbar-btn center-block" data-localise="control.back to results" data-bind="click: Numbas.controls.backToResults"></button></li>
        </menu>

    </div>

</nav>

<!-- top menu shown on narrow screens -->
<div id="topNav" class="hamburger navbar navbar-default question-nav">
    <ul class="nav">
        <!-- ko if: numQuestions() > 1 -->
        <li class="prev"><button type="button" class="btn navbar-btn default" data-bind="click: reverse, attr: {disabled: !canReverse()}"><span class="sr-only" data-localise="control.previous"></span>&larr;</button></li>
        <li class="next"><button type="button" class="btn navbar-btn default" data-bind="click: advance, attr: {disabled: !canAdvance()}"><span class="sr-only" data-localise="control.next"></span>&rarr;</span></button></li>
        <!-- /ko -->
        <li class="end"><button class="btn danger navbar-btn" data-localise="control.end exam" data-bind="click: Numbas.controls.endExam, visible: mode()=='normal' && !canAdvance()"></button></li>
        <li class="titleBits" data-bind="with: currentQuestion">
            <span class="review-header" data-bind="visible: $root.exam().mode()=='review'" data-localise="exam.review header"></span>
            <span id="questionNameDisplay" data-bind="text: displayName"></span>
        </li>

        <li class="stopWatch" data-bind="visible: displayTime">
            <span class="" data-localise="timing.time remaining"></span>
            <span class="time" data-bind="text: displayTime"></span>
        </li>
    </ul>

    <button type="button" class="navbar-toggle navbar-btn btn default" aria-controls="navMenu">
        {% include "hamburger.svg" %}
    </button>
</div>
