<nav id="navMenu" class="navmenu navmenu-default question-nav" role="navigation">

    <div id="navMenu-wrapper">

        <div class="navmenu-header">
            <div class="navmenu-brand">
                {% include "logo.html" %}
            </div>
            <h1 class="exam-name navmenu-brand" data-bind="text: exam.settings.name, typeset: exam.settings.name"></h1>
            <button type="button" class="navbar-toggle btn btn-default" data-toggle="navMenu">
                <span aria-hidden="true">×</span>
                <span class="sr-only" data-localise="control.toggle navigation menu"></span>
            </button>
        </div>

        <ul id="learning-objective-list" class="nav navemnu-nav">
            <!-- ko foreach: diagnostic_progress -->
            <li class="learning-objective">
                <span class="name" data-bind="latex: name"></span>
                <span data-bind="text: Math.floor(100*progress)+'%'"></span>
            </li>
            <!-- /ko -->
        </ul>
        <ul class="nav navmenu-nav">

            <!-- stopwatch and timing controls -->
            <li id="stopWatch" class="fake-nav-link" data-bind="visible: displayTime">
                <a class="clearfix">
                    <span class="pull-left" data-localise="timing.time remaining"></span>
                    <span class="pull-right" data-bind="text: displayTime"></span>
                </a>
            </li>

            <div class="menuButtons">
                <li><button class="btn primary navbar-btn center-block" id="hideNavMenuBtn" data-bind="click: hideNavMenu" data-localise="control.return to question"></button>

                <li><button class="btn primary navbar-btn center-block" id="pauseBtn" data-localise="control.pause" data-bind="click: Numbas.controls.pauseExam, visible: allowPause && mode()=='normal'"></button></li>
                <li><button class="btn danger navbar-btn center-block" id="endBtn" data-localise="control.end exam" data-bind="click: Numbas.controls.endExam, visible: mode()=='normal'"></button></li>
                <li><button class="btn primary navbar-btn center-block" data-localise="control.back to results" data-bind="click: Numbas.controls.backToResults, visible: mode()=='review'"></button></li>
            </div>
        </ul>

    </div>

</nav>

<!-- top menu shown on narrow screens -->
<div id="topNav" class="hamburger navbar navbar-default question-nav">
    <ul class="nav">
        <li>	
            <div class="titleBits" data-bind="with: currentQuestion">
                <span class="review-header" data-bind="visible: $root.exam().mode()=='review'" data-localise="exam.review header"></span>
                <span id="questionNameDisplay" data-bind="text: displayName"></span>
            </div>
        </li>

        <li class="stopWatch" data-bind="visible: displayTime">
            <span class="" data-localise="timing.time remaining"></span>
            <span class="time" data-bind="text: displayTime"></span>
        </li>
    </ul>

    <button type="button" class="navbar-toggle btn btn-default" data-toggle="navMenu">
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="hamburger-bar"></span>
        <span class="sr-only" data-localise="control.toggle navigation menu"></span>
    </button>
</div>
