<div class="row" id="performance-summary">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 data-localise="result.performance summary"></h2>
        <table class="summary">
            <tr>
                <th data-localise="exam.exam name"></th>
                <td data-bind="html: exam.settings.name"></td>
            </tr>
            <tr>
                <th data-localise="exam.random seed"></th>
                <td data-bind="html: exam.seed"></td>
            </tr>
            <tr data-bind="visible: exam.settings.showStudentName && exam.student_name">
                <th data-localise="exam.student name"></th>
                <td><span data-bind="text: exam.student_name"></span><span data-bind="visible: exam.student_id"> (<span data-bind="text: exam.student_id"></span>)</span></td>
            </tr>
            <tr>
                <th data-localise="result.exam start"></th>
                <td data-bind="text: startTime"></td>
            </tr>
            <tr>
                <th data-localise="result.exam stop"></th>
                <td data-bind="text: endTime"></td>
            </tr>
            <tr>
                <th data-localise="result.time spent"></th>
                <td data-bind="text: timeSpent"></td>
            </tr>
        </table>
    </div>
</div>

