<!-- bottom nav bar - prv/nxt, plus submit/advice/reveal buttons -->
<div class="question-nav question-bottom-nav navbar navbar-default">
    <div class="nav navbar-nav" data-bind="with: currentQuestion">
        <button class="btn btn-primary navbar-btn" id="submitBtn" data-localise="control.submit all parts" data-bind="visible: $root.mode()=='normal' && !revealed() && question.parts.length, click: Numbas.controls.submitQuestion, text: submitMessage"></button>
        <p class="marks navbar-text" role="status">
            <span class="score" data-bind="html: scoreFeedback.message, pulse: scoreFeedback.update"></span>
            <span class="feedback-icon" data-bind="css: scoreFeedback.iconClass, attr: scoreFeedback.iconAttr, pulse: scoreFeedback.update" aria-hidden="true"></span>
            <span class="sr-only" data-bind="text: scoreFeedback.iconAttr().title"></span>
        </p>
        <button class="btn btn-primary navbar-btn" id="regenBtn" data-localise="control.regen" data-bind="visible: $root.mode()=='normal' && $root.exam.settings.allowRegen, click: Numbas.controls.regenQuestion"></button>
        <button class="btn btn-primary navbar-btn" id="revealBtn" data-localise="control.reveal" data-bind="visible: question.parts.length && canReveal, click: Numbas.controls.revealAnswer"></button>
    </div>
</div>
