<div id="questionContainer" class="container-fluid" data-bind="visible: currentQuestion, css: {review: mode()=='review'}">
    <div class="contentArea ">
        <div id="questionDisplay" data-bind="foreach: questions">
            <h2 class="question-name print-only" data-bind="latex: displayName"></h2>
            <div data-bind="promise: html_promise">
            </div>
        </div>
        <div data-bind="with: currentQuestion">
            {% include 'question-nav.html' %}
        </div>
    </div>
</div>
