<div id="adaptive-breakdown" data-bind="visible: question.partsMode=='adaptive'">
    <table>
        <tbody>
            <tr>
                <th colspan="2" data-localise="question.objectives"></th>
            </tr>
            <!-- ko foreach: objectives -->
            <tr>
                <td data-bind="text: name"></td>
                <td><span data-bind="text: scoreDisplay"></span></td>
            </tr>
            <!-- /ko -->

            <tr>
                <th colspan="2" data-localise="question.penalties"></th>
            </tr>
            <!-- ko foreach: penalties -->
            <tr>
                <td data-bind="text: name"></td>
                <td><span data-bind="text: scoreDisplay"></span></td>
            </tr>
            <!-- /ko -->
        </tbody>

    </table>
</div>
