<div id="questionContainer" class="container-fluid print-visible" data-bind="visible: currentQuestion, css: {review: mode()=='review'}">
    <div class="contentArea ">
        <div class="diagnostic-feedback" data-bind="visible: diagnostic_feedback, latex: diagnostic_feedback"></div>

        <div id="questionDisplay" data-bind="foreach: questions">
            <div data-bind="promise: html_promise">
            </div>
        </div>
        <div data-bind="with: currentQuestion">
            {% include 'question-nav.html' %}
        </div>
    </div>
</div>
