<!-- mathjax stuff -->
<script>
MathJax = {
    tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        packages: {'[+]': ['numbas','texhtml']},
        allowTexHTML: true
    },
    loader: {
        load: ['[numbas]/numbas-mathjax.js', '[tex]/texhtml'],
        paths: {numbas: './scripts/standalone_scripts'},
        versionWarnings: false
    }
};
</script>
<script type="text/javascript" src="{{options.mathjax_4_url}}/tex-svg.js"></script>

<!-- numbas stuff -->
<script charset="UTF-8" type="text/javascript" src="{{theme_options.js.output}}?build_time={{build_time}}" charset="utf-8"></script>
{% if not dont_start_exam %}
<script>
    Numbas.queueScript('go',['start-exam'], function() {
        Numbas.locale.set_preferred_locale('{{options.locale}}');
    });
    if(document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', Numbas.checkAllScriptsLoaded);
    } else {
        Numbas.checkAllScriptsLoaded();
    }
</script>
{% elif not dont_load_exam %}
<script type="module" src="{{options.load_exam_script_url}}"></script>
{% endif %}
