.single-question #everything {
	max-width: 1000px;
	margin: auto;
}

.single-question #questionContainer {
	background: white;
}
.single-question #questionDisplay {
	margin: inherit;
	position: inherit;
	right: inherit;
}
