.question-nav {
	max-width: 1170px;
	margin: 0 auto;
	line-height: 68px;
}
.question-nav .navmenu-brand {
	display: inline-block;
	margin: 0;
}
#questionContainer {
	margin-top: 0 !important;
	margin-left: auto !important;
}
.question-nav .navbar {
	margin-bottom: 0;
	text-align: right;
}
.question-nav .logo {
	float: left;
}
